/*Colors*/

$banner_bg_color: rgba(37, 43, 73, 0.8);
$nav_hover_color: #BABBC5;
$nav_active_color: #E71414;
$btn_hover_color: #E71414;
$btn_active_color: #FF4343;
$btn_normal_color: #FF4343;
$work_hover_color: rgba(255, 67, 67, 0.8);
$work_active_color: rgba(185, 12, 12, 0.8);
$discr_color: rgb(108, 114, 121);
$testim-color: #5C3249;
$footer-a: #353C65;
$footer-b: #2C3154;
/*Font-size*/

$h1: 64px;
$h2: 36px;
$h3: 30px;
$h4: 24px;
$h5: 18px;
$h6: 13px;