@import "../variables/variables.scss";

.team-content {
	display: flex;
	justify-content: space-between;
	padding: 114px 0;
	gap: 2.6%;

	.team-box {
		max-width: 270px;
		display: flex;
		flex-direction: column;

		.team-image-box {
			display: flex;

			.team-image {
				width: 100%;

			}
		}

		.team-name {
			margin: 30px 0 5px;
			text-transform: capitalize;
			font-weight: 700;
			font-size: $h4;
			line-height: 28px;
		}

		.team-job {
			text-transform: uppercase;
			font-weight: 400;
			font-size: $h5;
			line-height: 21px;
			color: #FF4343;
			flex-grow: 1;
		}

		.team-discription {
			margin: 18px 0 38px;
			font-weight: 400;
			font-size: $h5;
			line-height: 21px;
			color: $discr_color;
		}

		.team-svg-box {
			display: flex;
			gap: 6px;
		}

		svg {
			transition: .3s;

			&:hover {
				transform: translateY(-5px);
			}
		}
	}
}

@media(max-width:1024px) {
	.team-content {
		padding: 78px 0;

		.team-box {
			.team-name {
				margin: 27px 0 6px;
				font-size: $h5;
				line-height: 21px;
			}

			.team-job {
				font-size: 14px;
				line-height: 16px;
			}

			.team-discription {
				margin: 22px 0 39px;
				font-size: 14px;
				line-height: 16px;
			}

			.team-svg-box {
				gap: 5px;
			}

			svg {
				width: 33px;
				height: 33px;
			}
		}
	}
}

@media(max-width:610px) {
	.team-content {
		flex-direction: column;
		row-gap: 50px;
		padding: 35px 0 40px;

		.team-box {
			max-width: 100%;

			.team-discription {
				margin: 38px 0 55px;
			}

			svg {
				width: 39px;
				height: 39px;
			}
		}
	}
}